{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/login.css">
<div class="login-page">
    <div class="form">
      <form method="POST">
        <h1 class='heading'>Log in</h1>
        <label>Email</label>
        <input
          type="email"
          name="email"
          placeholder="Enter your email address"
          class="form-control"
          
        />
        <br />
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          class="form-control"
          
        />
        <br />
        <input class="submit-button" type="submit" value="Log in" />
        <div class="bottom-text">
          <p>Don&#x27;t have an account?</p><a href="/sign-up">Sign up</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
